<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="transparent" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-status-bar-style" content="transparent" />

    <title>emotion - battle</title>
  </head>
  <body>
    <video autoplay playsinline muted id="webcam" width="48" height="48"></video>

    <div class="">
      <div class="emotion">angry <span></span> % </div>
      <div class="emotion">disgust <span></span> % </div>
      <div class="emotion">scared <span></span> % </div>
      <div class="emotion">happy <span></span> % </div>
      <div class="emotion">sad <span></span> % </div>
      <div class="emotion">surprised <span></span> % </div>
      <div class="emotion">neutral <span></span> % </div>
    </div>
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.3/dist/tf.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>
<script src="js/webcam.js"></script>
<script src="js/index.js"></script>
