@import url('https://fonts.googleapis.com/css?family=Acme|Open+Sans:400,800');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Acme', sans-serif;font-size: 15px;font-weight: 700;word-break: keep-all;}
body{margin: 0px;color: #fefefe;background-color: #080813;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

/** common **/
#webcam{
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  max-width: 100px;
  margin: 0 auto;
}
#remoteVideo{
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.content{
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
  /*background-image: url('../images/background.jpg');*/
}
.step{
  display: none;
  position: relative;
}

.step-01 h1{margin: 100px 0 40px;}
.step-01 h1 img{
  width: 100%;
}
.step-01 .waiting-players{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}
.step-01 .room-link{
  font-family: 'Open Sans';
  font-weight: 800;
  font-size: 14px;
  text-align: center;
}
.step-01 .room-link .link{
  width: 262px;
  height: 47px;
  margin: 100px auto 10px;
  padding-top: 15px;
  font-size: 12px;
  font-weight: 400;
  background-image: url('../images/room-link-btn.png');
  background-size: 100%;
}
.step-01 .room-link .description{
  display: block;
  font-size: 12px;
  text-transform: uppercase;
}


.step-02 .video-feed{
  position: relative;
  width: 320px;
  height: 320px;
}
.step-02 .video-feed:before{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 101%;
  background-size: 100%;
  background-image: url('../images/webcam-frame-neon-blue.png');
}
.step-02 .video-feed.timeout:before{
  height: 105%;
  background-image: url('../images/webcam-frame-neon-red.png');
}
.step-02 .video-feed .frame{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 320px;
  background-size: 100%;
  background-image: url('../images/webcam-frame.png');
}
.step-02 .video-feed .inner{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  padding: 26px;
  overflow: hidden;
}
.step-02 .video-feed .remote-frame{
  position: absolute;
  top: 45px;
  right: 38px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.step-02 .bu-ready{
  width: 213px;
  height: 75px;
  margin: 0px auto 20px;
  font-family: "Acme";
  font-size: 30px;
  color: #f3f7ff;
  border: none;
  background: none;
  background-image: url('../images/ready-btn.png');
  background-size: 100%;
}
.step-02 .bu-ready.ready{background-image: url('../images/ready-btn-a.png');}
.step-02 .current-emotion{
  position: absolute;
  bottom: -45px;
  left: 50%;
  width: 125px;
  transform: translateX(-50%);
}
.step-02 .current-emotion img{
  display: block;
  width: 100%;
}
.step-02 .feed-info{
  position: relative;
  height: 50px;
  margin-top: 8px;
}
.step-02 .feed-info .live{
  position: absolute;
  top: 0px;
  left: 38px;
  width: 52.5px;
  height: 25px;
}
.step-02 .feed-info .jauge{
  position: absolute;
  top: 0px;
  right: 18px;
  width: 88px;
  height: 15px;
}
.step-02 .feed-info .jauge .bg{
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-image: url('../images/emotion-jauge-bg.png');
}
.step-02 .feed-info .jauge .level{
  position: absolute;
  top: 2px;
  left: 0px;
  width: 80%;
  height: 13px;
  border-radius: 4px;
  background-color: #f1a840;
}
.step-02 .feed-info .current-emotion-level{
  position: absolute;
  top: 1px;
  right: 2px;
  font-size: 12px;
}

.step-02 .timer{
  display: none;
  width: 182px;
  height: 99px;
  margin: 0px auto 20px;
  padding-top: 20px;
  text-align: center;
  font-size: 45px;
  background-size: 100%;
  background-image: url('../images/timer-frame-blue.png');
}
.step-02 .timer .seconds{
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}
.step-02 .scores .me{
  position: relative;
  width: 320px;
  height: 58.5px;
  margin: 0 auto;
  background-size: 100%;
  background-image: url('../images/score-jauge-bg.png');
}
.step-02 .scores .me .label{
  position: absolute;
  top: 15px;
  left: 27px;
  font-size: 24px;
}
.step-02 .scores .me .level{
  position: absolute;
  top: 14px;
  left: 20px;
  width: 0%;
  height: 31px;
  border-radius: 4px;
  background-color: #69bd72;
}
.step-02 .scores .opponent{
  position: relative;
  width: 275px;
  height: 58.5px;
  margin: 0 auto;
  background-size: 100%;
  background-image: url('../images/score-ad-jauge-bg.png');
}
.step-02 .scores .opponent .vs{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60px;
}
.step-02 .scores .opponent .label{
  position: absolute;
  top: 16px;
  left: 58px;
  font-size: 22px;
}
.step-02 .scores .opponent .level{
  position: absolute;
  top: 18px;
  left: 20px;
  width: 0%;
  height: 24px;
  border-radius: 4px;
  background-color: #d53048;
}

.step-02 .bu-play-again{
  width: 213px;
  height: 75px;
  margin: 0px auto 20px;
  background-image: url('../images/play-btn.png');
  background-size: 100%;
}
.step-02 .scores-result{
  display: none;
  width: 200px;
  margin: 20px auto 0px;
}
.step-02 .scores-result img{
  width: 100%;
  margin-bottom: 20px;
}



.emotions{
  width: 100%;
  padding: 10px;
}

/* loading effect */
.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 20px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
