@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Open+Sans:700,800');

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html{height: 100%;font-family: 'Open Sans', sans-serif;font-size: 15px;font-weight: 700;word-break: keep-all;}
body{margin: 0px;color: #000;background-color: #fcfcfc;}

a {background-color: transparent;text-decoration: none;color: inherit;display: block;opacity: 1;transition: all 0.2s ease-in-out;}
a:active,
a:hover{outline: 0;text-decoration: none;color: inherit;}

/** helpers **/
.show{display: block;}
.hidden{display: none !important;}
.pull-left{float: left;}
.pull-right{float: right;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.block{display: block;}
.inline-block{display: inline-block;}
.clearfix:before,
.clearfix:after {content: "";display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1; /* ie 6/7 */}
/* helpers end  */

/** common **/
#webcam{
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  max-width: 100px;
  margin: 0 auto;
}
#remoteVideo{
  display: block;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
#localVideo{
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  max-width: 100px;
  margin: 0 auto;
}

.video-feed{
  position: relative;
}

.emotions{
  width: 100%;
  padding: 10px;
}
